.container {
    margin: auto;
    justify-content: center;
    width: 100%;
}

.paragraph {
    width: 50%;
    background-color: burlywood;
}

.paragraph p {
    text-align: center;
}

h1 {
    color: navy;
    font-size: 50px;
    font-family: "FontSaya";
    font-family: "Michroma", sans-serif;
}

h2 {
    font-weight: lighter;
    text-transform: capitalize;
    line-height: 1.5;
    letter-spacing: 2.5px ;
    font-family: "Michroma", sans-serif;
}

@font-face {
    font-family: "FontSaya";
    src: url("StormGust.ttf");
}